{% extends "layout.html" %}
{% block content %}
  <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
            <p style="text-align: justify;">5Exceptions is a software services company headquartered in Indore, India. Formally, Five Exceptions
               Software Solutions Pvt. Ltd. established in 2015 when five engineers working together since 2007, aimed
               at setting up a trusted IT outsourcing partner on which clients can rely on.<br><br>
               Our team comprises of immensely talented and dynamic project managers, software developers and
               testers that work with a focus on quality and timely delivery. 5Exceptions empowering businesses by
               enabling digital transformation and uncomplicating business processes.<br><br>
               We aim to build and deliver software products that are easy to use and that enhance business
               profitability. Having worked across multiple industries, we have gained vast exposure that enables us to
               not only meet your directives but contribute more by providing recommendations as and when
               required.<br><br>
               We meet your software needs ranging from building web/mobile applications to managing cloud
               services, from software testing to Internet of Things and from developing new products to re-
               engineering existing ones.
            </p>
         </div>
{% endblock content %}
